/* Styles the whole keyboard <div> by setting it as the parent for the flexbox */
.keyboardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
    justify-content: center;
    border: solid grey 1px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: lavender;
}

/* Styles the buttons of the on-screen keyboard */
.keyboardContainer button {
    padding: 0.5vw;
    margin: 0.5vw;
    font-size: 1.1rem;
    font-family: sans-serif;
    background-color: white;
    border: grey 1px solid;
    border-radius: 3px;
    width: 30px;
    height: 34px;
}