/* Styles the whole page */
.App {
  text-align: center;
  margin: 2vw;
}

/* Styles the 'Hangman' heading */
h1{
  font-family: courier;
  color: #5c24c5;
  margin-bottom: 6vh;
}

/* Sets to bold */
.bold{
  font-weight: bold;
}

/* Styles the display of the guessed word */
.guessedWord{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5vh;
}

/* Puts the image and information menu into a flexbox, with image on left and information on the right */
.topSection{
  display: flex;
  margin-left:26%;
  column-gap: 15%;

}

/* Styles the hangman image */
img{
  width: 179px;
}

/* Styles the buttons to look nice */
button.btn {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 10px;
  border: none;
  color: white;
  background-color: #7361f2;
  border-radius: 6px;
  margin: 4px;
  min-width: 155px;
  text-align: center;
}